[Desktop Entry]
Exec=gksu /usr/sbin/qtparted
Name=QTParted
Icon=qtparted.xpm
Terminal=false
Type=Application
Comment=Application for partitioning a disk
Comment[it]=Applicazione per il partizionamento di un disco
Comment[fr]=Application pour partitionner un disque
Comment[fi]=Kiintolevyn partitiointityökalu
Encoding=UTF-8
Categories=Application;System;QT;
